@charset "utf-8";

/*------------------------------------------------------------------
[Main Theme Styles]

Project:  Freemo
Author: Diego Pereira @ DotRex
Version:  1.1
Last change:  17/12/2015
Primary use:  Start for projects

/* ==========================================================
! >> MIXINS / VARIABLES (LESS)
==============  =========================================== */
.color1 {
  color: #09afad;
}

.color2 {
  color: #031634;
}

.color3 {
  color: #09afad;
}

.font1 {
  font-family: 'PT Sans', sans-serif;
}

.bold {
  font-weight: bold;
}

.bg-cover,
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box-shadow {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
}

.responsive-image {
  width: 100%;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.mtop0 {
  margin-top: 0;
}

.mtop20 {
  margin-top: 20px;
}

.mtop40 {
  margin-top: 40px;
}

/* ==========================================================
! >> General
========================================================== */
html {
  background: #e9e9e9;
}

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #fafafa;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.col-no-padding {
  padding: 0 !important;
}

.body-boxed {
  max-width: 1280px;
  margin: 0 auto;
  background: #fafafa;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bdw-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.bdw-wrapper:before {
  content: '';
  display: block;
  height: 3px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #09afad;
  opacity: 0.8;
}

.bdw-wrapper:after {
  content: '';
  display: block;
  height: 4px;
  width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  background: #09afad;
  opacity: 0.8;
}

.bdw-wrapper-negative:before,
.bdw-wrapper-negative:after {
  background: #ffffff;
}

/* ==========================================================
! >> Typography
========================================================== */
.titleM {
  color: #031634;
}

.titleM:first-child {
  margin-top: 0 !important;
}

.title1 {
  color: #031634;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}

.title1:first-child {
  margin-top: 0 !important;
}

.title2 {
  color: #031634;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title2:first-child {
  margin-top: 0 !important;
}

.title3 {
  color: #031634;
  font-size: 20px;
  font-weight: bold;
}

.title3:first-child {
  margin-top: 0 !important;
}

.title4 {
  color: #031634;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}

.title4:first-child {
  margin-top: 0 !important;
}

.title4:first-child {
  margin-top: 0 !important;
}

.title5 {
  color: #031634;
  font-weight: bold;
}

.title5:first-child {
  margin-top: 0 !important;
}

.title-of-section {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  padding-bottom: 3px;
  background: #09afad;
  font-size: 48px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.title-of-section.title-border:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
}

.text-lg {
  font-size: 22px;
}

/* ==========================================================
! >> Buttons
========================================================== */
.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ccc;
  margin-bottom: 8px;
}

.btn-default {
  border: 0;
  background: #da222b;
  color: #ffffff;
  padding: 15px 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-default:hover {
  background: #b80009;
  color: #ffffff;
}

.btn-primary {
  background-color: #3276b1;
}

.btn-success {
  background-color: #4cae4c;
}

.btn-info {
  background-color: #4cae4c;
}

.btn-warning {
  background-color: #eea236;
}

.btn-danger {
  background-color: #d43f3a;
}

/* ==========================================================
! >> Elements
========================================================== */
.balloon {
  padding: 15px 25px;
  background: #09afad;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
}

.balloon:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 888;
  background: #09afad;
}

.balloon-left:after {
  top: 50%;
  left: 0px;
  margin-top: -2px;
}

/* ==========================================================
! >> Forms and Inputs
========================================================== */
.form-control {
  width: 100% !important;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 50px;
  font-size: 14px;
  color: #111;
  margin-bottom: 5px;
  border: 2px solid #ffffff;
  font-family: 'PT Sans', sans-serif;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}

textarea.form-control {
  min-height: 100px;
}

textarea.textarea2 {
  height: 115px !important;
}

.btn-form {
  width: 100%;
  height: 50px;
}

/* ==========================================================
! 03. Page loader
========================================================== */
#page-loader {
  width: 100%;
  height: 100%;
  color: #ffffff;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-family: 'PT Sans', sans-serif;
}

#page-loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #031634;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#page-loader:after {
  content: '';
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #031634;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.loader-out {
  opacity: 0;
}

.loader-out:before {
  transform: translateX(-600px);
  -moz-transform: translateX(-600px);
  -webkit-transform: translateX(-600px);
  opacity: 0;
}

.loader-out:after {
  transform: translateX(600px);
  -moz-transform: translateX(600px);
  -webkit-transform: translateX(600px);
  opacity: 0;
}

.loading-wrapper {
  width: 250px;
  position: fixed;
  top: 50%;
  margin-top: -130px;
  left: 50%;
  margin-left: -125px;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 9999;
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.loading-wrapper-hide {
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.tp-loader {
  z-index: 10000;
  position: relative;
}

.loader-name {
  color: #ffffff;
  opacity: 0.8;
  text-align: center;
  letter-spacing: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  margin-top: 45px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-bottom: 35px;
}

.loader-name img {
  max-width: 230px;
}

.loader-job {
  border: 1px solid #ffffff;
  padding: 5px;
  text-align: center;
  font-weight: 200;
  margin-top: 5px;
  color: #ffffff;
  font-size: 13px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loader-left {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
}

.loader-right {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
}

.loader-up {
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  opacity: 0 !important;
}

.loader-down {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
  opacity: 0;
}

.loader-hide {
  opacity: 0;
}

.loader {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.loader-animation {
  text-align: center;
}

.svg-loader {
  margin: 0px auto;
  margin-bottom: -30px;
  display: block;
  -webkit-animation: svg-rotate 4000ms linear infinite;
  animation: svg-rotate 4000ms linear infinite;
}

.svg-loader circle {
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 0, 301.59289;
  -webkit-animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
  animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
}

@-webkit-keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes stroke-width {

  0%,
  100% {
    stroke-width: 0;
  }

  45%,
  55% {
    stroke-width: 2;
  }

  50% {
    stroke-width: 4;
  }
}

@keyframes stroke-width {

  0%,
  100% {
    stroke-width: 0;
  }

  45%,
  55% {
    stroke-width: 2;
  }

  50% {
    stroke-width: 4;
  }
}

@-webkit-keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}

@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}

@-webkit-keyframes stroke-color {
  from {
    stroke: #ffffff;
  }
}

@keyframes stroke-color {
  from {
    stroke: #ffffff;
  }
}



/* ==========================================================
! Pages: General
========================================================== */
.section-title {
  padding-top: 15px;
  padding-bottom: 10px;
  background: #031634;
  color: #ffffff;
}

.padding-box {
  padding: 20px;
}

.contrast {
  background: #f2f2f2;
}

.contrast-box {
  background: #e1e1e1;
  padding: 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.contrast-with-image {
  color: #ffffff !important;
  background-position: center center;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.contrast-with-image .title1 {
  color: #ffffff;
}

.contrast-with-image p {
  font-size: 18px;
}

.social-icons a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #09afad;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  background: #da222b;
}

/* ==========================================================
! Section: Resume
========================================================== */
.resume-box {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #031634;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  text-align: center;
  padding-top: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.resume-box:hover {
  background: #09afad;
  border: 1px solid transparent;
  color: #ffffff;
}

.resume-box:hover .resume-item-title1,
.resume-box:hover .resume-item-title2 {
  color: #ffffff;
}

.resume-item-ico {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  background: #09afad;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.resume-item-title1 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.resume-item-title2 {
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* ==========================================================
! Owl Carousel
========================================================== */
.owl-carousel {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-carousel * {
  will-change: transform;
}

.owl-carousel:focus {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-carousel:active {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-carousel:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-controls-wrapper2:hover .owl-controls {
  opacity: 1;
}

.owl-controls-wrapper2 .owl-controls {
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff !important;
}

.owl-controls-wrapper2 .owl-controls a {
  color: #ffffff !important;
}

.owl-controls-wrapper2 .owl-controls .owl-page.active {
  background: transparent;
}

/* ==========================================================
! CROSSBROWSER SOLUTIONS
========================================================== */